@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TempData["Title"] = "Home";

    TempData["active"] = "Home";
}

<div class="container">


    <h1>@Resources.Messages.IndexPage</h1>

    @{
        var posts = ViewData["posts"] as List<Models.Post>;
        if (posts == null)
        {

            <p>null</p>
        }
        else
        {
            <div class="d-flex flex-column">
                @foreach (var post in posts)
                {

                    <div class="card p-2 mb-4" style="">
                        <div class="card-body">
                            <h5 class="card-title"> <a class="text-reset text-decoration-none" asp-controller="Blog" asp-action="Post" asp-route-postTitle="@post.Title"> @post.Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">@post.Summary</h6>
                            <p>Category: <span style="color:blue;"> @post.Category?.Title</span></p>
                            <small>@post.InsertDateTime.ToString()</small>
                        </div>
                    </div>

                }
                <form asp-controller="Blog" asp-action="Index">
                    <button class="btn btn-primary" type="submit">@Resources.Buttons.MorePost</button>
                </form>
            </div>
        }
    }
</div>