@{
    TempData["Title"] = "Blog";
    var data = ViewData["Posts"] as List<Models.Post>;
    TempData["active"] = "Blog";
}


<div>

    <h1>Blog</h1>
    <div>

        @{
            <div class="d-flex flex-column">
                @foreach (var post in data)
                {

                    <div class="card p-2 mb-4" style="">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-reset text-decoration-none" asp-controller="Blog" asp-action="Post" asp-route-postTitle="@post.Title"> @post.Title </a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">@post.Summary</h6>
                            <p class="card-text">@post.Content</p>
                            <p>Category: <span style="color:blue;"> @post.Category?.Title</span></p>
                            <small>@post.InsertDateTime.ToString()</small>
                        </div>
                    </div>

                }
            </div>

        }
    </div>
</div>